[access]
	inheritFrom = AOKP/device_google_sprout-common
[access "refs/heads/*"]
	push = group Device Maintainers - Nexus 5X
	pushMerge = group Device Maintainers - Nexus 5X
	label-Code-Review = -2..+2 group Device Maintainers - Nexus 5X
	label-Verified = -1..+1 group Device Maintainers - Nexus 5X
	rebase = group Device Maintainers - Nexus 5X
	submit = group Device Maintainers - Nexus 5X
